# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Images
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary

# Documentation
*.pdf binary
